/*
  primitive color tokens
*/

:root {
  /* main colors */
  --color-mist: hsl(200 10% 90%); /* #E3E6E8 */
  --color-shadow: hsl(200 20% 20%); /* #29363D */
  --color-willow: hsl(75 50% 64%); /* #BAD175 */

  /* auxilliary colors */
  --color-clay: hsl(10 60% 64%); /* #E28A76 */

  /*
    tints & shades
  */

  --color-mist-10: hsl(from var(--color-mist) h s 98%);
  --color-mist-20: hsl(from var(--color-mist) h s 90%); /* base */
  --color-mist-40: hsl(from var(--color-mist) h s 72%);
  --color-mist-80: hsl(from var(--color-mist) h s 40%);

  --color-shadow-105: hsl(from var(--color-shadow) h s 20%); /* base */
  --color-shadow-110: hsl(from var(--color-shadow) h s 15%);

  --color-willow-50: hsl(from var(--color-willow) h s 64%); /* base */

  --color-slate-10: hsl(200 10% 98%);
  --color-slate-20: hsl(200 10% 90%);
  --color-slate-30: hsl(200 10% 80%);
  --color-slate-40: hsl(200 10% 72%);
  --color-slate-70: hsl(200 10% 48%);
  --color-slate-80: hsl(200 10% 40%);
  
  --color-clay-50: hsl(from var(--color-clay) h s 64%);
}


/*
  semantic color tokens
*/

:root {
  --color-accent-default: var(--color-willow-50);

  --color-border-default: var(--color-mist-80);

  --color-danger-default: var(--color-clay-50);

  --color-background-default: var(--color-shadow-105);
  --color-background-dark: var(--color-shadow-110);

  --color-foreground-contrast-default: var(--color-shadow-105);

  --color-foreground-strong: var(--color-mist-10);
  --color-foreground-default: var(--color-mist-20);
  --color-foreground-subtle: var(--color-mist-40);
}
